@import '../css/components/reset-global.css';
@import '../css/components/header.css';
@import '../css/components/footer.css';

/*===================== ADD PRODUCT ========= */
header .header__login {
  padding: 0.75rem 1rem;
}
.add-product fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add-product__title {
  font: var(--font-22700);
  margin-bottom: 1rem;
  color: var(--text-color);
}
.add-image__drop,
.add-product__add-image span,
.add-image__add-file input[type="file"] {
  display: none;
}
.add-product__add-image {
  position: relative;
}
.add-image__visualization {
  height: 25vh;
}
.add-image__add-file {
  height: 25vh;
  border: 2px dashed #C8C8C8;
  background-color: #FCFCFC;
}
.add-image__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  height: 100%;
  color: var(--gray-300);
}
.add-image__icon {
  font-size: 2rem;
  color: var(--gray-200);
}
.add-product__name,
.add-product__price {
  position: relative;
}
.add-product__category {
  padding: 1rem 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  border-bottom: 1px solid var(--gray-200);
}
.add-product__category:not(:valid) {
  color: var(--gray-200);
}
.add-product__name input,
.add-product__price input {
  margin-bottom: 0;
}
.add-product__description {
  padding: 1rem 0 0 0.75rem;
}
.add-product__button {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 500;
}
/*===================== RESPONSIVE ========= */
@media (min-width: 650px) {
  header .header__login {
    padding: 0.75rem 2rem;
  }
  .add-image__drop,
  .add-product__add-image span {
    display: inline-block;
  }
  .add-product__add-image {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .add-image__visualization {
    width: 254px;
    height: 152px;
  }
  .add-image__drop {
    width: 254px;
    height: 152px;
    background-color: var(--white-color);
    border: 2px dashed var(--gray-200);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .image-drop__text {
    font-size: 0.875rem;
    color: var(--gray-300);
    text-align: center;
    line-height: 1.25rem;
  }
  .add-image__add-file {
    height: initial;
    border: none;
    background-color: transparent;
    transition: background 0.3s;
  }
  .add-image__add-file:hover {
    background-color: var(--blue-200);
  }
  .add-image__button,
  .icon-add {
    font-size: 0;
  }
  .add-image__button {
    display: inline-block;
    border: 1px solid var(--blue-400);
    padding: 1rem;
    color: var(--blue-400);
  }
  .add-image__button::after {
    font-size: 1rem;
    content: 'Busca en tu tableta'
  }
}
@media (min-width: 1200px) {
  header .header__login {
    padding: 1rem 4.375rem;
  }
  .add-product__title {
    font-size: 2rem;
  }
  .add-product fieldset {
    max-width: 560px;
    margin: 0 auto;
  }
  .add-image__drop {
    flex-grow: 1;
  }
  .add-image__button::after {
    content: 'Selecciona la imagen';
  }
}